@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html{
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    *{
        font-family: 'Poppins', sans-serif;
    }
}

button,input{
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 25px;
    color: white;
}

.container{
    width: 80%;
    max-width: 900px;
    margin: 20vh auto 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    section{
        box-sizing: border-box;
        width: 50%;
    }
    section:nth-of-type(1){
        color: white;
        padding: 20px;
        h1{
            font-size: 2.1rem;
            line-height: 2.5rem;
            margin: 1.75rem 0px;
        }
        p{
            font-size: 0.8rem;
        }
    }
    section:nth-of-type(2){
        button{
            padding: 15px 25px;
            background-color: hsl(248, 32%, 49%);
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.15);
            font-weight: 600;
            span{
                font-weight: 400;
                color: rgba(255, 255, 255, 0.733);
            }
        }
        form{
            display: flex;
            flex-direction: column;
            background-color: white;
            gap: 15px;
            padding: 35px;
            border-radius: 10px;
            box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.15);
            input{
                border: 1px solid rgba(128, 128, 128, 0.185);
                font-weight: 600;
                color: rgba(0, 0, 0, 0.877);
            }
            button{
                padding: 10px 25px;
                background-color: hsl(154, 59%, 51%);
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 5px;
                margin: 0px;
                box-shadow: 0px 4px 0px 0px hsla(154, 87%, 28%, 0.651);
            }

            button:hover{
                cursor: pointer;
                background-color: hsl(154, 65%, 64%);
            }

            p{
                width: 100%;
                text-align: center;
                font-size: 0.6rem;
                margin: 0px;
                color: rgba(0, 0, 0, 0.363);
                a{
                    font-weight: 600;
                    color: hsl(0, 87%, 63%) ;
                }
            }
            .warning{
                margin: 5px 0px 0px;
                text-align: end;
                font-style: italic;
                color: hsl(0, 87%, 63%,0.5);
                font-weight: 500;
            }

            .err{
                border: 2px solid hsl(0, 87%, 63%,0.5);
                color: rgb(223, 81, 81);
            }
            .hide{
                display: none;
            }

            .err:focus{
                outline: none;
            }
        }
    }
}

footer{
    p{
        color: white;
    }
    
}

@media (max-width: 600px){
    html{
        font-size: 14px;
    }
    .container{
        margin: 50px auto 50px;
        flex-direction: column;
        section{
            width: 100%;
            text-align: center;
        }
        section:nth-of-type(2){
            button{
                padding: 10px 100px;
            }
        }
    }
}