@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    font-family: 'Karla', sans-serif;
}
html{
    background-color: hsl(204, 43%, 93%);
}

.container{
    width: 100%;
}

.card{
    
    margin: 20vh auto 10px;
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    .box{
        box-sizing: border-box;
        padding: 35px 40px 20px;
        width: 50%;
        color: hsl(204, 43%, 93%);
        ul{
            list-style: none;
            padding: 0px;
            line-height: 1.2rem;
            font-size: 0.9rem;
            color: rgba(255, 255, 255, 0.555);
        }
    }
    .box:nth-of-type(1){
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        background-color: white;
        .title{
            color: hsl(184, 68%, 43%);
        }
        .guarantee{
            font-weight: 700;
            color: rgb(184, 233, 87);
        }
        .des{
            color: hsl(218, 22%, 67%);
        }
    }
    .box:nth-of-type(2){
        border-radius: 0px 0px 0px 10px;
        background-color: hsl(179, 62%, 43%)
    }
    .box:nth-of-type(3){
        flex-grow: 1;
        border-radius: 0px 0px 10px 0px;
        background-color:  hsl(179, 51%, 53%)
    }

}

button{
    font-weight: 700;
    font-size: 1rem;
    box-sizing: content-box;
    display: block;
    margin: auto;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 15px 30%;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.082);
}

.price{
    font-size: 2rem;
    span{
        vertical-align: middle;
        font-size: 1rem;
        color: hsla(203, 44%, 93%, 0.644)
    }
}

p,ul{
    margin: 15px 0px;
    line-height: 1.5rem;
}

h1,h2{
    margin: 0px;
}

h2{
    font-size: 1.2rem;
}

@media (max-width: 500px){
    .card{
        margin: 10vh auto 10px;
        max-width: 340px;
        .box:nth-of-type(2){
            border-radius: 0px;
            width: 100%;
        }
        .box:nth-of-type(3){
            border-radius: 0px 0px 10px 10px;
        }
    }
    
}